.title-container{
    position:static;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
    width: 100vw;
    height: 9vh;
    margin-left: 9vh;
    margin-top: 8vh;
    color: #356B36;
    justify-content: center;
 }
.player-container{
    width: 100vh;
    height: 40vh;
    list-style: none;
    margin-left: 25vh;
    margin-top: 4vh;


}
.stats-container{
    width: 60vw;
    height: 33vh;
    margin-left: 25vh;
    background-color: #356B36;

}
.player-photo{
    display:flex;
    width: 35vh;
    height:35vh;
    object-fit:cover;
    border-radius:50%;
}
.stats{

    width: 457px;
    height: 94px;
    left: 243px;
    top: 449px;
    margin-left: 4vh;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vh;
    list-style: none;
    
    color: #FFFFFF;
}